language: ruby
cache: bundler
rvm:
  - 2.4.10
  - 2.5.8
  - 2.6.6
  - 2.7.1
before_install:
  - gem update --system
  - gem update bundler
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
